<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prognation!</title>
  </head>
  <body>
    <form action="">
      <label for="album-name-input">Album Name:</label>
      <input type="text" id="album-name-input" name="album-name-input" />
      <br />

      <label for="album-review-input">Album Review:</label>
      <textarea name="album-review-input" id="album-review-input"></textarea>
      <br />

      <label for="album-rate-input">Album Name:</label>
      <input type="text" id="aalbum-rate-input" name="album-rate-input" />

      <button type="submit">Submit!</button>
    </form>
  </body>
</html>
